@charset "utf-8";
#header {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    margin-bottom: 44px;
}
* {
    background-color: #0E3200;
}
.img_logo {
    width: auto;
    height: 66px;
}
#lista_nav {
    border-radius: 37px;
    width: 196px;
    position: relative;
    left: 118px;
    background-color: #165100;
    line-height: 35px;
}
#lista_il {
    width: 135px;
    background-color: #165100;
    color: #FFFFFF;
}
#lista_il2 {
    background-color: #165100;
    width: 135px;
    color: #FFFFFF;
}
#lista_il3 {
    background-color: #165100;
    width: 153px;
    color: #FFFFFF;
}
#lista_il4 {
    background-color: #165100;
    width: 153px;
    color: #FFFFFF;
}
#lista_il5 {
    background-color: #165100;
    width: 153px;
    color: #FFFFFF;
}
#lista_il6 {
    background-color: #165100;
    width: 153px;
    color: #FFFFFF;
}
#section {
    padding-top: 44px;
    display: flex;
    justify-content: center;

}

#parrafo1 {
    width: 344px;
    display: inline-block;
    padding-left: 80px;
    color: #FFFFFF;
}
#parrafo2 {
    width: 344px;
    display: inline-block;
    padding-left: 80px;
    color: #FFFFFF;
}
#section_imagenes {
    padding-top: 35px;
    display: flex;
    justify-content: center;

}
.img_pntic982 {
    padding-right: 24px;
}
.img_pntic981 {
    padding-right: 25px;
}
.img_pntic2000 {
    padding-right: 25px;
}
.img_pntic2001 {
}
#h2_section1 {
    color: #FFFFFF;
    margin-left: 323px;
    margin-top: 121px;
}
